<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cos.nomadapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nomadapp">
        <activity android:name=".FaqDetailActivity"></activity>
        <activity android:name=".ui.community.CommunityDetailActivity" />
        <activity android:name=".ui.community.CommunitySearchActivity" />
        <activity android:name=".ui.community.CommunityWriteActivity" />
        <activity android:name=".ui.courses.CourseDetailActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".ui.faq.FaqActivity" />
        <activity android:name=".ui.challenges.ChallengesActivity" />
        <activity android:name=".ui.community.CommunityActivity" />
        <activity android:name=".ui.courses.CoursesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>